.container
  .row
    .col-sm-12
      %img.checkout-image.center-block{:alt => 'foundit', :src => '/assets/founditlogo2.png'}
      %h1.text-center.index-header 
      %form
        %table#cart.table
          %thead
            %tr
              %th
              %th Image
              %th.text-center Description
              %th.text-center Reward
          %tbody
        